#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

@media (max-width:477px) {

  /* About Page */
  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
  }

  #about-head div {
    padding-top: 20px;
    padding-left: 0px;
  }
}