#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cuopon {
  width: 50%;
  margin-bottom: 30px;
}

#cuopon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#cuopon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#cuopon button,
#subtotal button {
  background: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

@media (max-width:477px) {

  #cart-add {
    flex-direction: column;
  }

  #cuopon,
  #subtotal {
    width: 100%;
  }

  #subtotal {
    padding: 20px;
  }
}