#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  margin-top: 0px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover {
  /* #navbar li a.active { */
  color: #088178;
}

/*
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
*/
#navbar li a i {
  font-weight: 500;
  font-size: 20px;
}

.section-m1 {
  margin: 40px 0;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Shop Page */

/* Single Product */

/* Blog Page */
.logo {
  width: 50px;
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  top: 4px;
  right: -60px;
  position: absolute;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background-color: #088178;
}

#blog .blog-box h1 {
  position: absolute;
  font-weight: 700;
  font-size: 70px;
  color: #c9cbce;
  top: -40px;
  left: 0;
  z-index: -9;
}

/* Contact Page */

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: #fff;
}

#form-details .people div {
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
}

#form-details .people img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* Cart Page */

/* Start Media Query */

@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 80px 0 0 10px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #navbar.active {
    right: 0;
  }

  #mobile {
    display: flex;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #bar {
    display: initial;
  }

  #close {
    display: initial;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
  }

  #lg-bag,
  #lg-search {
    display: none;
  }

  #newsletter .form {
    width: 70%;
  }

  /* Contact Page */
  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }
}

/*//////////////////*/
@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  /* Blog Page */
  #blog {
    padding: 100px 20px 20px 20px;
  }

  #blog .blog-box {
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* Contact Page */
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    padding-bottom: 30px;
  }

  /* Cart Page */

  /* SIngle Product */
}
